body {
  margin: 0;
}

.loading {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #fff;
  animation: loading 4s forwards;
}

.morphing_container {
  width: 100dvmin;
  height: 100dvmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.morphing {
  height: 15vmin;
  width: 12vmin;
  filter: contrast(1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  img {
    width: auto;
    height: 10vmin;
    fill: #272727;
    filter: brightness(0) saturate(100%) invert(14%) sepia(6%) saturate(25%) hue-rotate(338deg) brightness(95%) contrast(94%);
    pointer-events: none;
  }
}

.mcon {
  width: 100%;
  height: 100%;
  position: relative;
}

.r {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: r 0.25s 1 ease-in-out;
}
.e {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: e 0.375s 1 ease-in-out;
}
.n {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: n 0.5s 1 ease-in-out;
}
.d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: d 0.625s 1 ease-in-out;
}
.ee {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ee 0.75s 1 ease-in-out;
}
.rr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rr 0.875s 1 ease-in-out;
}

.r:nth-child(1) {
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}
.r:nth-child(2) {
  animation-delay: 0.375s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: text;
}

.e:nth-child(1) {
  animation-delay: 0.375s;
  animation-fill-mode: forwards;
}
.e:nth-child(2) {
  animation-delay: 0.5s;
  opacity: 0;
}
.e:nth-child(3) {
  animation-delay: 0.625s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: text;
}

.n:nth-child(1) {
  animation-delay: 0.625s;
  animation-fill-mode: forwards;
}
.n:nth-child(2) {
  animation-delay: 0.75s;
  opacity: 0;
}
.n:nth-child(3) {
  animation-delay: 0.875s;
  opacity: 0;
}
.n:nth-child(4) {
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: text;
}

.d:nth-child(1) {
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.d:nth-child(2) {
  animation-delay: 1.125s;
  opacity: 0;
}
.d:nth-child(3) {
  animation-delay: 1.25s;
  opacity: 0;
}
.d:nth-child(4) {
  animation-delay: 1.375s;
  opacity: 0;
}
.d:nth-child(5) {
  animation-delay: 1.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: text;
}

.ee:nth-child(1) {
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
.ee:nth-child(2) {
  animation-delay: 1.675s;
  opacity: 0;
}
.ee:nth-child(3) {
  animation-delay: 1.75s;
  opacity: 0;
}
.ee:nth-child(4) {
  animation-delay: 1.875s;
  opacity: 0;
}
.ee:nth-child(5) {
  animation-delay: 2s;
  opacity: 0;
}
.ee:nth-child(6) {
  animation-delay: 2.125s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: text;
}

.rr:nth-child(1) {
  animation-delay: 2.125s;
  animation-fill-mode: forwards;
}
.rr:nth-child(2) {
  animation-delay: 2.25s;
  opacity: 0;
}
.rr:nth-child(3) {
  animation-delay: 2.375s;
  opacity: 0;
}
.rr:nth-child(4) {
  animation-delay: 2.5s;
  opacity: 0;
}
.rr:nth-child(5) {
  animation-delay: 2.625s;
  opacity: 0;
}
.rr:nth-child(6) {
  animation-delay: 2.75s;
  opacity: 0;
}
.rr:nth-child(7) {
  animation-delay: 2.875s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: text;
}

.r_move {
  transform: translate(-3.2dvmin, -5dvmin);
}

.d_move {
  transform: translate(-3.3dvmin, -5dvmin);
}

@keyframes r {
  0%,
  19% {
    filter: blur(0px);
    opacity: 1;
  }
  95%,
  100% {
    filter: blur(1px);
    opacity: 0;
  }
}

@keyframes e {
  0%,
  19% {
    filter: blur(0px);
    opacity: 1;
  }
  20%,
  100% {
    filter: blur(1px);
    opacity: 0;
  }
}
@keyframes n {
  0%,
  19% {
    filter: blur(0px);
    opacity: 1;
  }
  20%,
  100% {
    filter: blur(1px);
    opacity: 0;
  }
}
@keyframes d {
  0%,
  19% {
    filter: blur(0px);
    opacity: 1;
  }
  20%,
  100% {
    filter: blur(1px);
    opacity: 0;
  }
}
@keyframes ee {
  0%,
  19% {
    filter: blur(0px);
    opacity: 1;
  }
  20%,
  100% {
    filter: blur(1px);
    opacity: 0;
  }
}
@keyframes rr {
  0%,
  19% {
    filter: blur(0px);
    opacity: 1;
  }
  20%,
  100% {
    filter: blur(1px);
    opacity: 0;
  }
}
@keyframes text {
  0%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes loading {
  0%,
  80% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    filter: blur(10px);
    visibility: hidden;
  }
}
